.Home {
	margin-top: 48px;
	margin-inline: auto;
	max-width: 95%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	row-gap: 80px;

	.Description {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		row-gap: 16px;

		h1,
		h2,
		p {
			transition: 0.5s;
		}

		h1 {
			color: var(--light-blue);
			font-family: var(--barlow);
			font-size: calc(16rem / 16);
			font-weight: normal;
			letter-spacing: 2.7px;
			text-align: center;
			text-transform: uppercase;
		}

		h2 {
			font-family: var(--bellefair);
			font-weight: normal;
			font-size: calc(80rem / 16);
			text-align: center;
			text-transform: uppercase;
		}

		p {
			color: var(--light-blue);
			font-family: var(--barlow);
			font-size: calc(15rem / 16);
			line-height: 25px;
			text-align: center;
			max-width: 60ch;
		}
	}

	.ExploreContainer {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		background-color: var(--white);
		display: grid;
		place-items: center;
		transition: 0.5s;

		p {
			font-family: var(--bellefair);
			text-transform: uppercase;
			font-size: calc(20rem / 16);
			text-align: center;
			color: var(--dark-blue);
			transition: 0.5s;
		}
	}
}

@media screen and (min-width: 700px) {
	.Home {
		.Description {
			h1 {
				font-size: calc(20rem / 16);
				letter-spacing: 3.8px;
			}
			h2 {
				font-size: calc(150rem / 16);
			}

			p {
				font-size: calc(16rem / 16);
				line-height: 28px;
				max-width: 444px;
			}
		}

		.ExploreContainer {
			width: 242px;
			height: 242px;

			&:hover {
				cursor: pointer;
				box-shadow: 0 0 0 var(--white), 0 0 0 50px var(--explore-gray);
			}

			p {
				font-size: calc(32rem / 16);
				letter-spacing: 2px;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.Home {
		margin-top: 251px;
		margin-inline: auto;
		width: 95%;
		max-width: 1300px;

		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		row-gap: 0px;

		.Description {
			row-gap: 24px;
			align-items: flex-start;

			h1,
			h2,
			p {
				text-align: left;
			}

			h1 {
				font-size: calc(28rem / 16);
				letter-spacing: 4.72px;
			}

			h2 {
				transform: translateX(-12px);
			}

			p {
				font-size: calc(18rem / 16);
				line-height: 32px;
				text-align: left;
				max-width: 460px;
				letter-spacing: 0;
			}
		}

		.ExploreContainer {
			width: 274px;
			height: 274px;

			&:hover {
				box-shadow: 0 0 0 var(--white), 0 0 0 110px var(--explore-gray);
			}
		}
	}
}
