.Heading {
	font-family: var(--barlow-condensed);
	font-size: calc(16rem / 16);
	font-weight: normal;
	letter-spacing: 2.7px;
	text-transform: uppercase;
	text-align: center;
	margin: 24px 0 0 2.5%;
	width: max-content;
	margin-inline: auto;
	transition: 0.5s;

	span {
		font-weight: bold;
		color: var(--light-gray);
		margin-right: 18px;
	}
}

@media screen and (min-width: 700px) {
	.Heading {
		font-size: calc(20rem / 16);
		letter-spacing: 3.38px;
		text-align: left;
		margin: 40px 0 0 2.5%;

		span {
			margin-right: 19px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.Heading {
		font-size: calc(28rem / 16);
		letter-spacing: 4.72px;
		width: 80%;
		margin: 76px 0 0 calc(2.5% + 63.5px);

		span {
			margin-right: 28px;
		}
	}
}
