@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&display=swap");

:root {
	/* colors */
	--dark-blue: #0b0d17;
	--light-blue: #d0d6f9;
	--white: #ffffff;
	--light-gray: rgba(151, 151, 151, 0.5);
	--dark-gray: rgba(151, 151, 151, 0.17);
	--border-gray: rgba(151, 151, 151, 0.25);
	--explore-gray: rgba(151, 151, 151, 0.1);

	/* typography */

	--bellefair: "Bellefair", serif;
	--barlow: "Barlow", sans-serif;
	--barlow-condensed: "Barlow Condensed", sans-serif;
}

html {
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0;
	color: var(--white);
}

/* set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

/* Remove the border on images inside links in IE 10. */
img {
	border-style: none;
}

a {
	text-decoration: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
input,
textarea {
	appearance: none;
}

/* Remove all animations, transitions, and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Scroll bar style 
html::-webkit-scrollbar {
	width: 10px;
}
html::-webkit-scrollbar-track {
	background: rgb(78, 77, 77);
}
html::-webkit-scrollbar-thumb {
	background: rgba(131, 131, 131, 0.746);
}
html::-webkit-scrollbar-thumb:hover {
	background: rgb(56, 56, 56);
}
html::-webkit-scrollbar-thumb:active {
	background: rgba(27, 27, 27, 0.8);
	border-radius: 10px;
}
*/
