@mixin heading1 {
    font-family: var(--bellefair);
    font-size: 9.375rem;
}
@mixin heading2 {
    font-family: var(--bellefair);
    font-size: 6.25rem;
}
@mixin heading3 {
    font-family: var(--bellefair);
    font-size: 3.5rem;
}
@mixin heading4 {
    font-family: var(--bellefair);
    font-size: 2rem;
}
@mixin heading5 {
    font-family: var(--barlow);
    font-size: 1.75rem;
    letter-spacing: 4.75px;
    color: var(--light-blue);
}
@mixin subHeading1 {
    font-family: var(--bellefair);
    font-size: 1.75rem;
}
@mixin subHeading2 {
    font-family: var(--barlow);
    font-size: 0.875rem;
    letter-spacing: 2.35px;
}
@mixin navText {
    font-family: var(--barlow);
    font-size: 1rem;
    letter-spacing: 2.7px;
}
@mixin bodyText {
    font-family: var(--barlow);
    font-size: 1.125rem;
    letter-spacing: 2.7px;
}